
body {
margin: 0;
background: linear-gradient(red, blue);
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;;
font-family: monospace;
color: rgb(105, 51, 51);
  
}

.container {
  background-color: rgba(180, 144, 144, 0.3);
  padding: 20px;
  box-shadow: 10px 10px 13px rgba(66, 8, 8, 0.3);
  border-radius: 12px;
  width: 85%;
  max-width: 450px;
  min-width: 350px;
}

.heading {
  font-size: 30px;
}

.temp-container {
  width: 100%;
  padding: 10px;
  font-weight: bold;
  font-size: 20px;
}

.input {
  width: 220px;
  font-family: monospace;
  padding: 5px;
  float: right;
  background: rgba(163, 130, 130, 0.3);
  color: rgb(18, 51, 57);
  font-size: 18px;
}

.input::placeholder {
  color: rgb(57, 7, 7);
}
